* {
    box-sizing: border-box;
    /* outline: auto; */
    padding: 0px;
    margin: 0px;
    font-family: "Times New Roman", Times, serif;
  }
  
  body {
    background-color: burlywood;
    color: darkslategray;
    margin: 20px;
    display: flex;
    flex-direction: column;
  }