*{
    box-sizing: border-box;
    /* outline: auto; */
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color:burlywood;
    color:darkslategray;
}

.homepage{
    margin: 25px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: center;
    padding: 0px 20px 20px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-between;
}

.first-header{
    align-self: flex-end;
}

.odin-link{
    padding: 0 0 40 0;
    font-size: larger;
    font-weight: 1000;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    min-height: 150px;
     
}

.item-menu{
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.sandwich-header{
    margin-bottom: 20px;
    
}

.sandwich-list{
    list-style-type: none;
}

.list .item{
    padding: 5px 0px;
}
