body{
    background-color:whitesmoke;
    color:darkslategray
}


h3, h2, h1{
    color: darkslategray;
    border-left: thick solid salmon;
    width: fit-content;
    margin-right: auto;
}

.menu{
    margin-left: 30px;
}

img{
    width: 450px;
    height: 380px;
}

a{
    text-shadow: 0 0 2px black;
    font-weight: bold;
    font-size: x-large;
}

ul{
    width: fit-content;
    color:darkolivegreen;
    margin-left: 0px;
}

li{
    color: black;
    margin-top: 10px;
    border-bottom: solid;
    border-color:salmon;
    border-width: thin;
}

.homepage, .menu, .menu-list{
    margin-left: auto;
    margin-right: auto;
}