body{
    background-color:whitesmoke;
    color: rgb(235, 235, 235);
}

.homepage{
    color: rgb(255, 255, 0);
    text-shadow: 0 0 8px;
    background-color: darkgoldenrod;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
h3, h2, h1{
    color: rgb(255, 255, 0);
    text-shadow: 0 0 8px;
    background-color: darkgoldenrod;
    width: fit-content;
    margin-right: auto;
}
p{
    color: black;
}
a{
    text-shadow: 0 0 8px yellow;
    background-color: rgb(235, 235, 235);
}

ul{
    width: fit-content;
    color:darkolivegreen;
    margin-right: 40%;
}

li{
    color: black;
    margin-top: 10px;
    border-bottom: solid;
    border-color:salmon;
    border-width: thin;
}