body{
    background-color:lightyellow;
    color:darkslategray
}

h3, h2, h1{
    color: darkslategray;
    border-left: medium solid orange;
    border-bottom: medium solid orange;
    width: fit-content;
    margin-right: auto;
    background-color: lightpink;
}

.menu{
    margin-left: 30px;
}

img{
    padding: 0;
    border-style: solid;
    border-width: 2px;
    border-color: salmon;
    width: 450px;
    height: 380px;
}

a{
    text-shadow: 0 0 2px black;
    font-weight: bold;
    font-size: x-large;
}

ul{
    width: fit-content;
    color:darkolivegreen;
    margin-left: 0px;
}

li{
    padding: 0px;
    color:darkslategray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.homepage, .menu{
    margin: auto;
}
.menu{
    margin-top: 20px;
}
.menu-list{
    display: inline-flex;
    list-style-type: none;
}

.menu-list li{
    margin: 20px;
}