body{
    background-color:whitesmoke;
    color: rgb(235, 235, 235);
}

.homepage{
    color: rgb(255, 255, 0);
    text-shadow: 0 0 8px;
    background-color: darkgoldenrod;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-shadow: 0 0 8px yellow;
    background-color: rgb(235, 235, 235);
}

.menu{
    width: fit-content;
    color:darkolivegreen;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 40%;
    margin-right: 40%;
}

li{
    margin-top: 10px;
    border-bottom: solid;
    border-color:salmon;
    border-width: thin;
}